

<br><br><br>
<table  class="table table-striped">
		<tr>
			<th>ID</th>
			<th>Pagina Oficial</th>
			<th>Titulo Original</th>
			<th>Popularidad</th>
			<th>Estreno</th>
			<th>Cantidad de Votos</th>
			<th>Paises</th>
			<th></th>
			<th>Idiomas</th>
			
		</tr>
		<tr >
			<td >{{detalle.id}}</td>
			<td >{{detalle.homepage}}</td>
			<td >{{detalle.original_title}}</td>
			<td >{{detalle.popularity}}</td>
			<td >{{detalle.release_date}}</td>
			<td >{{detalle.vote_count}}</td>
			<td ng-repeat="d in detalle.production_countries">{{d.name}}</td>
			<td ng-repeat="d in detalle.spoken_languages">{{d.name}}</td>
			
			
		</tr>

	</table>

