<br>

<br><br><br>
<table  class="table table-striped">
		<tr>
			<th>Nobre</th>
			<th>Opcion</th>
			
		</tr>
		<tr ng-repeat="p in lista_favoritos">
			<td>{{p}}</td>
			<td> <a   ng-click="eliminarPelicula(p)" class="btn btn-info">Eliminar de Favoritos</a> </td>
			
		</tr>

	</table>