
<br>


<br><br><br>
<table  class="table table-striped">
		<tr>
			<th>ID</th>
			<th>Titulo</th>
			<th>Titulo Original</th>
			<th>Fecha de Estreno</th>
			<th>Aptop Para Adulto</th>
			<th>Popularidad</th>
			<th>Lenguaje Original</th>
			<th>Cantidad de Votos</th>
			<th>Voto Promedio</th>
			<th>Sipnosis</th>
			<th>Detalle</th>
			
		</tr>
		<tr ng-repeat="peli in listado.results">
			<td>{{peli.id}}</td>
			<td>{{peli.title}}</td>
			<td>{{peli.original_title}}</td>
			<td> {{peli.release_date}} </td>
			<td>{{peli.adult}}</td>
			<td>{{peli.popularity}}</td>
			<td>{{peli.original_language}}</td>
			<td>{{peli.vote_count}}</td>	
			<td> {{peli.vote_average}} </td>
			<td> {{peli.overview}} </td>
			<td> <a   href="#/detalle/{{peli.id}}" class="btn btn-info">Ver Detalle</a> </td>
			<td> <a   ng-click="AgregarPelicula(peli.title)" class="btn btn-info">Agregar Favoritos</a> </td>

		</tr>

	</table>