
<br><br><form class="form-horizontal" ng-submit="loguearse(datos_login)">
  <div class="form-group">
    <label for="text" class="col-sm-2 control-label">Usuario</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" ng-model="datos_login.username" id="text" placeholder="Usuario">
    </div>
  </div>
  <div class="form-group">
    <label for="inputPassword3" class="col-sm-2 control-label">Password</label>
    <div class="col-sm-10">
      <input type="password" class="form-control" ng-model="datos_login.password" id="inputPassword3" placeholder="Password">
    </div>
  </div>
  
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default">Registrarse</button>
        <a href="#/listado" ng-show="loggin">Bienvenido al Sitio presione aqui para entrar</a>
         
    </div>
  </div>
</form>
