<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
          <li ng-class="mInicio"><a href="#/">Inicio</a></li>
            <li ng-class="mLogign"><a href="#/login">Loguearse</a></li>
            <li ng-class="mListado"><a href="#/listado">Listado de Peliculas</a></li>
            <li ng-class="mGestion"><a href="#/gestion">Gestion de Favoritos</a></li>
          </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>